<li>
  <%= link_to gravatar(feed_item.user), feed_item.user %>
  <span class="user">
    <%= link_to feed_item.user.email, feed_item.user %>
  </span>
  <span class="post_text">
    <%= feed_item.text %>
  </span>
  <span class="timestamp">
    <%#= TODO should not need unless blank?  %>
    <%#= time_ago_in_words(feed_item.created_at) unless feed_item.created_at.blank? %>
    <%= feed_item.created_at %>
  </span>
</li>
