<div class="relationships">
 <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="relationships">
      <%= @user.followeds.count %>
    </strong>
    following
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="relationships">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
</div>
