<li>
    <%= link_to(image_tag(post.image.thumb.url.to_s, class: "img-rounded"), post) %>
  <span class="post_text">
    <%= post.text %>
  </span>
  <span class="timestamp">
    <%#= time_ago_in_words(post.created_at) %>
    <%= post.created_at %>
  </span>
</li>
